html{
    background-color: #02161d ;
    height : 100%;
}
    
body{
    height: 100%;
}
    

#root{
    margin-top: 30px;
    margin-left: 20px;
}
    
terminal-font{
    color: #829395;
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 13px;
    line-height: 18px;
}

comic-font{
    font-family: 'Comic Sans MS';
    font-size: 15px;
}

#terminal pre{
    display: inline-block;
}
        
#terminal pre, label, input, a{
    margin: 0;
    padding: 0;
    color: #829395;
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 13px;
    line-height: 18px;
}

#terminal pre.comic-font{
    font-family: 'Comic Sans MS';
    font-size: 15px;
}
#terminal ul{
    margin: 0;
    padding: 0;
}
#terminal li{
    list-style: none;
}
#terminal ul, li{
    margin-bottom: 2px;
}
#terminal .cli-input{
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
#terminal .prompt{
    color: #d93435;
}