.headersContent {
  background-color: rgb(19, 37, 36);
  margin-bottom: 1.45rem;
  text-decoration: none;
  padding: 1.5rem;
}
.headerBrand{
  color: rgb(153, 99, 99);
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}